
.container_div_right {
  box-sizing: border-box;
  margin-top:auto;
  
  height: 1200px;
  width: 700px;
  overflow-y: scroll;
    

}



.container_div_right::-webkit-scrollbar {
  width: 8px;
}

.container_div_right::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 664px;
}

.container_div_right::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}



.linkStyle{
   
    text-decoration: none;
    color: white;
}

 