
.loader {
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: 6px solid transparent;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  margin-top: -400px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
