
.icon {
    width: 62px;
    height: 62px;
    box-sizing: content-box;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    padding: 2px;
    position: relative;
    margin-left: -16px;
  }

  .container {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 100px;
    border: 2px solid transparent;
    box-sizing: border-box;
   
    background: linear-gradient(var(--bg-color_element), var(--bg-color_element))
        content-box,
      linear-gradient(var(--gradient-color_1), var(--gradient-color_2)) border-box;
  }
  
  .ingredientImage {
    width: 60px;
    height: 60px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    background: #131316;
    
  }
  

  