

.container {
  box-sizing: border-box;
    flex:100%;
    height: 400px;
    overflow-y: scroll;
    
}



.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 664px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}


.floatright{
float:  right ;
display: flex;
   justify-content: flex-end;
   height: 64px;
   align-items: center;
}

.overflowHidden{
overflow: hidden;
}


.price {
  display: flex;
  align-items: center;
}