.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredientName{
    display: flex;
    align-items: center;
    column-gap: 200 px;
}



.ingredientName svg{
    fill: white;
}


.line svg{
    fill: white;
}