
.container {
  display: flex;
  align-items: center;
  width: 1200px;
  
  margin: auto;
  margin-top: 180px;
  column-count:2;
  }


  
  .container_div_left {
    box-sizing: border-box;
    padding: 15px;
    float: left;
    
    height: 2000px;
    width: 320px;
  }
  



  .container_div_right {
    box-sizing: border-box;
    padding: 15px;
    float: right;
    flex: 50%;
    height: 2000px;
  }

  .ullink {
    text-decoration: none;
  }

  .link {
    display: flex;
    text-decoration: none;
    align-items: right;
    list-style:none;
  }
 
  .active_link
  {color: #ebebf8;
    }

.buttons{
    justify-content: center;
    align-items: center;
    width: 480px;
    float:left;
    column-count:2;
}

.liststylenone
{
  list-style:none;
}

.floatright
{
  float: right;
}