
.container {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 600px;
    margin:auto;
    margin-top:120px;
    list-style-type: none;
    
  }




.ingredientsList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top:60px;
   
    
}

.ingredientsList::-webkit-scrollbar {
    width: 8px;
 }
 
 .ingredientsList::-webkit-scrollbar-track {
    background: #2f2f37;
    border-radius: 664px;
 }
 
 .ingredientsList::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
 }
 
.line{
    margin-left:-20px;
}
.lineTop{

    margin-top:12px;
}

.orderNumber{
    text-align: center;    
    
}

.dateColor {
    color:#8585AD;
}
.bottom{
    display: flex;
    justify-content: space-between;
}


.left{
    text-align:left;
}



.picture svg{
    fill: white;
}