.card {
    box-sizing: border-box;
    background-color: #1c1c21;
    border-radius: 40px;
    padding: 24px;
    display: block;
    color: inherit;
    text-decoration: none;
    width: 600px;
    border-radius: 40px;
    margin-bottom: 24px;
  }
 
  .header {
    display: flex;
    justify-content: space-between;
}


.dateColor{
    color:  #8585AD;
}

.ingredientsList {
    margin: 0;
    
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
  }
  




.bottomLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottomLine svg{
    fill: white;
}


.price {
    display: flex;
    align-items: center;
  }