.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1c1c21;
    position: fixed;
    z-index: 100;
    border-radius: 40px;
    background-color: #000000;
    width: 720px;
    flex-direction: column;
    margin-bottom:100px;
    background: #1C1C21;
}

.header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    float:right;
    width: 640px;
    margin-top:50px;
    
  }
  
  .bottom {
 
    margin-bottom:50px;
    
  }

  .overflowHidden {
  overflow: hidden;
}