
.container {
  display: flex;
  gap: 20px;
  columns: 2;
  margin-top: 6px;
  margin-bottom: 6px;
  min-width: 500px;
  min-width: 600px;
  align-items: center;
}

.box1 {
  grid-column-start: 1;
  display: flex;
  align-items: center;
}

.box2 {
  grid-column-start: 2;
  align-items: center;
    justify-content: end;
    max-width: 536px;
    min-width: 488px;
    width: 100%;
    display: flex;
    
}



.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 664px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}
